body, html, #root, .main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.copyright {
  text-decoration: none;
}
.copyright:link, .copyright:hover, .copyright:active, .copyright:visited {
  color:#111;
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}

.Footer {
  padding: 10px;
  background-color: #eee;
  height: 20px;
  padding-left: 40px;
  padding-right: 40px;
  width: calc(100% - 80px);
  position: fixed;
}

.nav {
  position: fixed;
  z-index: 999;
}

ul {
  position: fixed;
  top: 0;
  width: calc(100%);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eee;
  padding-bottom: 5px;
}

li {
  float: right;
}

li:nth-child(2) {
  padding: 0 40px 0 0;
}

li a {
  display: block;
  color:#111;
  text-align: center;
  padding: 7px 7px;
  text-decoration: none;
  border: 2px solid #eee;
}

li a:hover {
  border-bottom-color: #111;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: #eee; 
  color: #111;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: 2px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 1px #555;
  box-shadow: 0 0 0 2px -moz-mac-focusring;
  color: #222; 
  outline: none;
}

  select:hover {
    border-color: #888;
  }

  select option {
    background-color: #555;
    color: #eee;
  }

  .menuselect {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: #eee; 
    color: #333;
    font-size: 13px;
    margin: 0;
    overflow: hidden;
    padding-top: 7px;
    padding-bottom: 7px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }
  
    .menuselect option {
      background-color: #555;
      color: #eee;
    }

.left {
  float: left;
}

.right {
  float: right;
}

.main {
  display: flex;
}

.infoBox a {
  text-decoration: none;
  text-align: center;
}

.title {
  float:left;
  padding: 10px 0 0 15px;
  font-weight: 600;
}

.platform {
  font-weight: 200;
}

.Sidebar {
  background-color: #555;
  color: white;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 265px;
  position: fixed;
  margin-top: 41px;
  height: calc(100% - 110px);
  overflow: scroll;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.Sidebar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.Sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  padding: 12px;
  padding-left: 50px;
}

.Sidebar a:hover, .Sidebar a.active {
  background-color: #777;
}

.Sidebar a .icon {
  width: 40px;
  font-size: 22px;
  display: inline-block;
}

.AppList {
  padding-top: 5px;
}

.AppList, .AppDetails {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.Sidebar ~ div {
  margin-left: 265px;
  margin-top: 41px;
}

.Sidebar ~ div::after {
  padding-bottom: 500px;
  content: "";
}

.AppCardWrapper {
  text-decoration: none;
}

.AppCard {
  margin: 4px;
  width: 256px;
  flex-direction: row;
  flex-grow: 1;
  color: #333;
  margin: 5px;
  margin-bottom: 50px;
  position: relative;
}

.AppCard img:hover {
  filter: saturate(2);
  opacity: 0.7;
}

.AppCard_switch img {
  width: 256px;
  height: 150px;
  position: relative;
}

.AppCard_wiiu img {
  height: 96px;
  position: relative;
}

.AppCard_3ds img {
  height: 150px;
  width: 150px;
  margin: 0 53px 0 53px;
  position: relative;
}

.AppCard__Title {
  font-weight: 700;
}

.AppCard .right {
  text-align: right;
}

#console {
  max-width: 20px;
  max-height: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.cardright {
  float:right;
  text-align: right;
}

.Footer {
  bottom: 0;
}

.Header svg {
  width: 15px;
  padding-right: 8px;
}

.catTitle {
  font-weight: 400;
  width: 98.5%;
  flex: 0 1 100%;
  font-size: 25px;
  padding: 20px 0 20px 40px;
  display: block;
  float:left;
}

.Ad {
  flex: 0 1 100%;
  padding: 20px 0 20px 40px;
  display: block;
  margin: 10px;
  margin-bottom: 0px;
  padding: 0;
}

.AppList .right {
  padding-right: 40px;
}

button, .infoBox a {
  background-color: #555;
  color: #eee;
  border: none;
  padding: 10px;
  font-size: 13px;
  margin-left: 10px;
  font-weight: 500;
  cursor: pointer;
}
button:hover, .infoBox a:hover {
  background-color: #777;
}

.catTitle .sort, .catTitle .lesser {
  font-size: 15px;
  color: #777;
}

.AppDetailsInner {
  max-width: 848px;
}

.overlay {
  margin-top:80px;
  position: relative;
}

.AppDetails .banner {
  width: auto;
  position: relative;
}

.details {
  padding-bottom: 10px;
  content: "";
}

.AppDetails .details {
  white-space: pre-line;
  width: 600px;
  margin-left: 5px;
  line-height: 1.2;
  min-height: 100px;
  max-width: 600px;
}

.AppDetails .catTitle {
  padding-left: 10px;
}

.row {
  flex-direction: row;
}

.sideHeader {
  color: darkred;
  font-weight: 500;
}

.infoBox {
  width: 195px;
  margin: 15px 0 15px 15px;
  box-sizing: border-box;
}

.infoBox .row {
  background-color: #eee;
  padding: 10px 10px 10px 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.infoBox span {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 10px;
}

.infoBox button {
  width: 100%;
}

.infoBox button, .infoBox a {
  margin-top: 10px;
  margin-left: 0px;
  display: block;
  font-size: 25px;
}
.menu {
  display:block;
  float: right;
  margin-right: 40px;
}

.menuspan {
  display:inline-block;
}
.mobile,.mobilebr, #mobileonly{
  display: none;
}
#full {
  display: unset;
}

.tooltip {
  background-color: #eee;
  max-width : 400px;
}
.tooltip img {
  width: 100%;
}

.tooltip button {
  margin: 5px 0 5px 5px;
}

.tooltipButtons {
  display: inline-block;
}

.tooltipButtons button {
  float: left;
}

.tooltipButtons img {
  float: right;
  max-width: 20%;
}

.tooltip img:hover {
  filter: saturate(2);
  opacity: 0.7;
}

#hbasmtitle {
  display: none;
}
.modal_screen {
  width: 800px;
  cursor:zoom-out;
}
.screen_thumb {
  cursor:zoom-in;
}

.sidebar-item.selected {
  border-left: 5px solid white;
  padding-left: 45px;
  background-color: #666;
}

/*Mobile Display and Landscape display*/
@media only screen and (max-width: 800px) {
  .Header .right, .Footer .right {
    display: none;
  }

  .sidebar-item.selected {
    padding-left: 20px;
  }

  #dns,#account,#twitter,#discord,#ftu,#submit {
    display:none;
  }

  li:nth-child(2) {
    padding: 0 0 0 0;
  }

  .Sidebar .text {
    display: none;
  }

  .Sidebar {
    width: 80px;
  }

  .Sidebar ~ div {
    margin-left: 80px;
  }

  .Sidebar a {
    padding-left: 25px;
  }

  .AppDetails {
    padding: 5px 20px 20px 20px;
  }

  .AppDetails .infoBox {
    width: 100%;
    margin-right: 0px;
  }

  .AppDetails .banner {
    width: 100%;
    height: unset;
  }

  .AppDetails .details {
    width: 100%;
    margin-left: 0px;
  }

  .screen_container {
    width: 100%;
  }

  .screen_thumb {
    width: unset;
  }
  .modal_screen {
    width: 100%;
  }

  #hbastitle {
    display: none;
  }

  #hbasmtitle {
    display: inline-block;
  }
}

/*Remove Mobile Icons for Large Displays*/
@media only screen and (min-width: 800px) {
  #m_dns,#m_account,#m_twitter,#m_discord,#m_ftu,#m_submit { 
    display:none;
  }
}

/*Filters for Mobile Portrait*/
@media only screen and (max-width: 600px) {
  #m_dns,#m_account,#m_twitter,#m_discord,#m_ftu,#m_submit,#feedback,#full { 
    display:none;
  }

  .Sidebar {
    width:0;
  }

  .Sidebar ~ div {
    margin-left: 0;
    margin-top: 41px;
  }

  .menuselect {
    display: unset;
    margin:0 10px 0 10px;
  }

  button, .infoBox a {
    margin-right: 1px;
  }

  .menuspan, .mobilebr, #mobileonly{
    display:unset;
  }

  .mobile {
    display : block;
    width:100%;
  }
  .categories {
    float: left;
  }
  .links {
    float: right;
  }
  .mobilemenu {
    width: 100%;
  }
  .AppDetails {
    padding: 5px 10px 20px 10px;
  }
}
